*{padding: 0px;
    margin: 0px;

    
}

body{
    background-color: rgba(137, 43, 226, 0.486);
}
.homepage{
    padding: 0px;
    height: 10vh;
    width: 100%;
    color: white;
    }

.topcontent{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 90px;

    
}

.socialmediacontent{
    padding-bottom: 35px;
    align-content: flex-start;


}
#darkmode {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    


}
.fullcards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 200px;
    padding: 30px;
    background-color: rgba(14, 14, 88, 0.372);

}
    .card one{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 150px;
        gap: 10px;
        align-items: center;

    }
   

    #second-cards{
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 10px;
        background-color: rgba(14, 14, 88, 0.372);
        width: 200px; 
        border-radius: 20px;
        flex-wrap: wrap;
        

    
    }
    .card-five{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        color: white;
        background-color: brown;
        width: 16vw;
    }
    .card-six{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        color: white;
        background-color: brown;
        width: 16vw;
    }
    .card-seven{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        color: white;
        background-color: brown;
        width: 16vw;
    }
    .card-eight{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        color: white;
        background-color: brown;
        width: 16vw;
    }
    .card-nine{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        color: white;
        background-color: brown;
        width: 16vw;;
    }
    .card-ten{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        color: white;
        background-color: brown;
        width: 16vw;
    }
    .card-eleven{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        color: white;
        background-color: brown;
        width: 16vw;
    }
    .card-twelve{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        color: white;
        background-color: brown;
        width: 16vw;
    }
    .pageview{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 5px;

    }
    .numerics{
        display: flex;
        justify-content: space-between;

    }
    .icon{
        display: flex;
        align-items: first baseline;
        flex-direction: row;
        gap: 5px;
    }
    #percentagedown{
        font: 1em sans-serif;ont-size: 10px;
        \
    }