*{padding: 0px;
    margin: 0px;

    
}

body{
    background-color: rgba(137, 43, 226, 0.486);
}
.homepage{
    padding: 0px;
    height: 10vh;
    width: 100%;
    color: white;
    }

.topcontent{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 90px;

    
}

.socialmediacontent{

    align-content: first baseline;
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    padding-left: 130px;
    


}
#total followers{
align-items: center;
font-size: 10px;

}
#darkmode {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
    


}
.fullcards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 200px;
    padding: 30px;
    background-color: rgba(14, 14, 88, 0.372);

}
    .card one{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 150px;
        gap: 10px;
        align-items: center;

    }
   

    #second-cards{
        display: flex;
        justify-content: center;
        gap: 20px;
        /* padding: 10px; */
        /* background-color: rgba(14, 14, 88, 0.372); */
        /* width: 1000px; */
        /* border-radius: 20px; */
        flex-wrap: wrap;
    
        

    
    }
    #second-card{
        display: flex;
        justify-content: center;
        flex-direction: column;
    color: white;

    
        width: 16vw;
        background-color: green;
        /* padding: 20px; */
        /* border-radius: 20px; */
        font-size: 10px;
        padding: 20px;

    }
    
    .pageview{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 5px;

    }
    .numerics{
        display: flex;
        justify-content: space-between;

    }
    .icon{
        display: flex;
        align-items: first baseline;
        flex-direction: row;
        gap: 5px;
    }
    #percentagedown{
        font: 1em sans-serif;ont-size: 10px;
    
    }
    .overviewtoday{
        display: flex;
        justify-content: flex-start;
        color: white;
        flex-direction: row;
        align-items: first baseline;
        padding-left: 130px;
    }